*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
header{
    position: sticky;
    top: 0;
    z-index: 1000;
    background:none;
    margin-top: -60px;
}
nav{
    background: none;
    height: 80px;
    width: 10px;
}
nav ul{
    float: right;
    margin-right: 20px;
    padding-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    margin-top: 0px;
    white-space: nowrap;
}
nav ul li a{
    color: #05066D;
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Arial Bold", Arial, sans-serif; 
    text-align: right;
}

#download {
    color: #05066D;
    font-size: 18px;
    text-transform: capitalize;
    font-family: "Arial Bold", Arial, sans-serif;
    text-align: right;
    padding: 8px 15px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

nav {
    background: #B0C5FF;
    height: 80px;
    width: 720px; 
    border-bottom-left-radius: 50% 60px;
    border-bottom-right-radius: 50% 60px;
    overflow: hidden;
    position: absolute; 
    right: 0;
    top: 0;
}
nav ul li {
    display: inline-block;
    line-height: 70px;
    margin: 0 20px;
    margin-top: 0px; 
    white-space: nowrap;
}

nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px; 
    background: #B0C5FF; 
    border-bottom-left-radius: 50% 60px;
    border-bottom-right-radius: 50% 60px;
    z-index: -1;
}

/*Inicio*/

.banner {
    background: url('img/logo.png') no-repeat top right; 
    background-size: auto 100px; 
    padding-top: 10rem; 
    animation:mostrar 1.5s ease-in-out;
}

@keyframes mostrar{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

section.banner{
    background:#E4EEFF;
    padding-top: 10rem;
}
.containerB{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20rem, 1fr));
    grid-gap: 2rem;
    
}
.col1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgBanner{
    width: 100%;
    vertical-align: bottom;
}
.col2{
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Arial Bold", Arial, sans-serif;
}
h1{
    font-size:3rem;
    color: #05066D;
}
#txtBanner{
    margin: 2rem 0;
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: justify;
    font-family: "Arial Bold", Arial, sans-serif;
    color: #05066D;
    font-style: italic;
}
.btnBanner {
    background: #ffffff;
    color: #05066D;
    padding: 10px; 
    padding-left: 0px;
    border-radius: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.download-image {
    width: 30px; 
    height: 30px;
    margin-right: 10px; 
}

.logo {
    position: absolute;
    top: 10px;
    left: 50px;
    width: 200px; 
    height: auto; 
    z-index: 1; 
}

/*Portafolio*/

.portafolio{
    opacity: 0.8;
    background-size: 10px 10px;
    background-position: 0 0 10px 10px;
    overflow:hidden;
    animation:mostrar 1.5s ease-in-out;
}
.containeP{
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    align-items:center;
    align-items: center;
    padding: 2rem;
    
    position: relative;
    margin-top: 20px;

    color: #2362d6;
    font-family: "Arial Bold", Arial, sans-serif;
}

.containeP.container {
    width: 80%; 
    max-width: 1200px; 
    margin: 0 auto; 
    box-shadow: 0px 0px 55px 5px rgba(164, 173, 255, 0.116);
}

.boxP__picture{
    max-width:500px;
}
.boxP__paragraph{
    line-height:2;
    margin-bottom:15px;
    
}
.boxP__img{
    width:500px;
    display:block;
}

.SubPortafolio{
    margin-top: 40px;
    text-align: center;
    padding-bottom: 2rem;
    color: #05066D;
    font-family: "Arial Bold", Arial, sans-serif;
}

h2{
    font-size: 2.5rem;
}

.SubPortafolio p{
    margin-top: 10px;
    font-size: 1.5rem;
    color: #2362d6;
}

.subtitle{
    font-size: 1.5rem;
}

/*Servicios*/

.servicio{
    padding: 0rem 0;
    animation:mostrar 1.5s ease-in-out;
    margin-bottom: 50px; 
    background-color: #05066D;
}
.SubServicio{
    text-align: center;
    padding-bottom: 2rem;
    color: #ddf8fc;
    font-family: "Arial Bold", Arial, sans-serif;
    margin-top: 50px;
}

h5{
    font-size: 1.8rem;
}
.containeS{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
 
}
.boxS{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#eef4ff,#abecf5);
    border-radius: 1em;
    margin-bottom: 50px;
}
.boxS img{
    width: 100px;
    margin-bottom: 20px;
}

.boxS p{
    text-align: center;
    color: #05066D;
    margin-top: 10px;
    font-family: "Arial Bold", Arial, sans-serif;
}

h4{

    color: #05066D;
    font-family: "Arial Bold", Arial, sans-serif;
}

/*Registro */
.registro {
    background-color: #EDECFF;
    opacity: 0.8;
    background-size: 10px 10px;
    background-position: 0 0 10px 10px;
    overflow:hidden;
    animation:mostrar 1.5s ease-in-out;
}

.formulario-registro {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:1em;
    align-items:center;
    align-items: center;
    padding: 2rem;
    max-width: 900px;
    margin: 0 auto;
    flex: 1; 
    padding: 20px; 
}

.SubRegistro p{
    margin-top: 10px;
    font-size: 1.5rem;
}

.campo {
    text-align: left;
    margin-bottom: 1rem;
}

label {
    display: block;
    font-weight: bold;
    width: 400px;
    color: #3a33c4;
    font-family: "Arial Bold", Arial, sans-serif;
    
}

input, select {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
}

button {
    background-color: #4c44e2;
    color: #fff;
    padding: 1rem 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.mensaje {
    font-size: 1rem;
    color: #05066D;
    margin-top: 10px;
    font-family: "Arial Bold", Arial, sans-serif;
    margin-bottom: 20px;
}

.error {
    color: #FF0000;
}

.imagen-registro {
    max-width:500px;
}

.imagen-registro img {
    width:400px;
    display:block;
}

h3{
    font-size: 2.5rem;
}

.SubRegistro{
    
    margin-top: 40px;
    text-align: center;
    padding-bottom: 2rem;
    position: relative;
    color: #4c44e2;
    font-family: "Arial Bold", Arial, sans-serif;
}


/* Autores */

.autor{
    background-color: #eef8ff;
    animation:mostrar 1.5s ease-in-out;
}

.Subautor{
    background-color: #eef8ff;
    top: 40px;
    text-align: center;
    padding-bottom: 2rem;
    color: #05066D;
    font-family: "Arial Bold", Arial, sans-serif;
}

.continerA{
    display:grid;
    grid-template-columns: 50px 1fr 50px;
    gap:1em;
    align-items:center;
    font-family: "Arial Bold", Arial, sans-serif;
}
.bodyA{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap:2em;
    grid-column: 2/3;
    grid-row:1/2;
    opacity:0;
    pointer-events:none;
    font-family: "Arial Bold", Arial, sans-serif;
}
.bodyA--show{
    pointer-events:unset;
    opacity:1;
    transition:opacity 1.5s ease-in-out;
    font-family: "Arial Bold", Arial, sans-serif;
}
.imgA{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
    object-position:50% 30%;
    margin-right: 200px;
    margin-bottom: 40px;
}
.textsA{
    margin-left: 200px;
    max-width:900px;
    font-family: "Arial Bold", Arial, sans-serif;
    color:#05066D;
}
.courseA{
    background-color:#B0C5FF;
    color:#05066D;
    display:inline-block;
    padding:5px;
    font-family: "Arial Bold", Arial, sans-serif;
}
.arrow{
    width:90%;
    cursor:pointer;
}

/* Segmento */

.segmento{
    padding: 0rem 0;
    animation:mostrar 1.5s ease-in-out;
    margin-bottom: 50px;
}
.SubSegmento{
    text-align: center;
    padding-bottom: 2rem;
    color: #d11d86;
    font-family: "Arial Bold", Arial, sans-serif;
    margin-top: 50px;
}

h5{
    font-size: 1.8rem;
}
.containeSeg{
    width: 70%;
    margin: 0 auto;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(18rem, 1fr));
    grid-gap: 2rem;
 
}
.boxSeg{
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#fff3fb,#dcfdf0);
    border-radius: 1em;
}
.boxSeg img{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
    object-position: 50% 30%;
    margin-right: 10px;
    margin-bottom: 40px;
}

.boxSeg p{
    text-align: center;
    color: #05066D;
    margin-top: 10px;
    font-family: "Arial Bold", Arial, sans-serif;
}

h4{

    color: #05066D;
    font-family: "Arial Bold", Arial, sans-serif;
}

.imaSeg{
    width:500px;
    height: auto;
    object-fit:inherit;
}


/* Pie de Pagina */
footer {
    background-color: #05066D; 
    color: #E4EEFF; 
    padding: 20px;
    animation:mostrar 1.5s ease-in-out;
}

.contacto {
    display: inline-block; 
    width: 30%; 
    vertical-align: top;
    margin: 10px 40px 40px; 
    font-family: "Arial Bold", Arial, sans-serif;
    max-width: 600px;
}

.social-media,
.libro-reclamación {
    display: inline-block;
    width: 20%; 
    vertical-align: top;
    margin: 10px 40px; 
    font-family: "Arial Bold", Arial, sans-serif;
    margin-bottom: 30px;
}

/* Estilos específicos para los enlaces en .social-media */
.social-media a {
    color: #E4EEFF;
    margin-top: 30px;
    text-decoration: none; /* Evita el subrayado predeterminado de los enlaces */
}

.contenedor {
    max-width: 600px; 
    margin: 0 auto;
}

.titulo {
    color: #E4EEFF; 
    font-family: "Arial Bold", Arial, sans-serif;
}

.input {
    border: 0;
    color: black;
    outline: none;
    border: 1px solid black;
    padding: 10px 10px;
    font-family: "Arial Bold", Arial, sans-serif;
}

.fore {
    margin-top: 30px;
}
.pie {
    text-align: center;
}



